body{
	color: #9932CC;
	text-align: center;

}
html{
	background-image: url("../img/jath.png");
}

form{
	background-color: #f4f4f4;
	padding : 1em;
}
#frigo{
	padding-bottom : 1em;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

#main{
	display: none;
}

#formprod{
	padding: 1em;
}

#tableRecettes{

	width: auto;

}
#disclaimer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4
}

div{
	background-color: #98FF98;
}

button {
	display: flex;
}