body{
	color: #9932CC;

}

html{
	background-image: url("IMG/path.png");
}

#userID {
	background-color: #f4f4f4;
	padding-bottom: 2em;
	display: flex;
}

#formProd{
	background-color: #f4f4f4;
	padding-bottom: 2em;
	padding-left: 1em;
}

#disclaimer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4
}