*{
	color: #660066;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}
img{
	display: inline-block;
}


button{
	margin:1em;
	padding: 4px;
	background-color: #d896ff;
  	border: 2px solid #660066;
 	padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

html{
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
}	

form{
	background-color: #efbbff;
	padding : 1em;
}


table, th, td{
	border: 1px solid black;
	border-collapse: collapse;

}

#main{
	display: none;
	border:3px solid black;
	background-color: #d896ff;
}

#formprod{
	padding: 1em;
}

#tableRecettes{

	width: auto;

}
#erreure {
	display: none;
	border : 1px solid black;	
	background-color: #efbbff;
	padding:4px;
	position: fixed;
	left:0%;
  	top:0%;
}
